* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #e63946;
  --White: #f1faee;
  --blue: #1d3557;
  --black: #0d0a01;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 35%;
  background: url(./images/People\ on\ bridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--blue);
}
.main {
  grid-area: 1/2/2/3;
}
.container {
  background: var(--bg-color);
  height: 100vh;
  gap: 2%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.heading {
  position: relative;
  overflow: visible;
  margin-top: 10%;
}
.heading h1 {
  font-size: 64px;
  letter-spacing: 0.2em;
}

/* Is there a better and easier way to achieve this effect? */
.white1::before,
.white2::before,
.white3::before,
.white4::before,
.white5::before {
  position: absolute;
  color: white;
}
.white1::before {
  content: "PRA";
  right: 100%;
}
.white2::before {
  content: "THE ";
  right: 100%;
}
.white3::before {
  content: "O";
  right: 100%;
}
.white4::before {
  content: "A THO";
  width: 90%;
  right: 100%;
}
.white5::before {
  content: "SPI";
  right: 100%;
}
.desc,
.motto {
  padding: 0 10%;
  font-weight: 700;
  line-height: 2em;
}
.btn {
  align-self: center;
  padding: 30px 120px;
  margin-top: 5%;
  border: none;
  background: var(--White);
  border-radius: 10px;
  font-size: 24px;
  font-family: inherit;
  font-weight: 700;
  color: var(--blue);
  letter-spacing: 0.2em;
  transition: 0.5s;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  background: linear-gradient(to left, #1d3557, #f1faee);
  color: white;
}
.btn:active {
  border-top: 4px solid #0d0a01;
  border-left: 4px solid #0d0a01;
  background: var(--blue);
}

@media only screen and (max-width: 1200px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .btn {
    padding: 30px 80px;
  }
  .desc,
  .motto {
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 120vh;
    background: url(./images/Spires.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main {
    grid-area: 2/1/3/2;
  }
  .container {
    background: linear-gradient(to top, #0d0a01 90%, #af34260c);
    color: var(--White);
    align-items: center;
    height: 120vh;
    gap: 5%;
  }
  .heading h1 {
    font-size: 48px;
  }
  .heading {
    position: static;
    text-align: center;
  }
  .white1::before,
  .white2::before,
  .white3::before,
  .white4::before,
  .white5::before {
    position: static;
  }
  .desc .motto {
    line-height: 2em;
  }
  .btn {
    width: 100%;
    padding: 30px 0;
    border-radius: 0;
  }
}
